# BalloonPoppingGymEnv specific
BalloonPoppingGymEnv/envs/data/*
!BalloonPoppingGymEnv/envs/data/**.md
!BalloonPoppingGymEnv/envs/data/**.nc

# VSCode specific
.vscode/

# Python specific
.venv
.ruff_cache
__pycache__

uv.lock
