# BalloonPoppingGymEnv specific
BalloonPoppingGymEnv/envs/data/*
!BalloonPoppingGymEnv/envs/data/**.md
!BalloonPoppingGymEnv/envs/data/**.nc

BalloonPoppingGymEnv/evaluation/results/**.json
BalloonPoppingGymEnv/evaluation/results/**.pkl

# VSCode specific
.vscode/

# Python specific
.venv
.ci-venv
.ruff_cache
__pycache__

uv.lock
.pytest_cache
.coverage
coverage.xml
